<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Schudle</title>
    <link rel="icon" href="/images/Schudle Logo.ico">

    <style type="text/css">
        @font-face{font-family:'Montserrat';font-style:normal;font-weight:400;src:url(https://fonts.gstatic.com/s/montserrat/v15/JTUSjIg1_i6t8kCHKm459Wlhzg.ttf) format('truetype')}@font-face{font-family:'Montserrat';font-style:normal;font-weight:700;src:url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_dJE3gnD-w.ttf) format('truetype')}@font-face{font-family:'Kaushan Script';font-style:normal;font-weight:400;src:url(https://fonts.gstatic.com/s/kaushanscript/v9/vm8vdRfvXFLG3OLnsO15WYS5DG74wNc.ttf) format('truetype')}@font-face{font-family:'Droid Serif';font-style:italic;font-weight:400;src:url(https://fonts.gstatic.com/s/droidserif/v13/tDbK2oqRg1oM3QBjjcaDkOr4nAfcGw.ttf) format('truetype')}@font-face{font-family:'Droid Serif';font-style:italic;font-weight:700;src:url(https://fonts.gstatic.com/s/droidserif/v13/tDbX2oqRg1oM3QBjjcaDkOr4lLz5CwOnTQ.ttf) format('truetype')}@font-face{font-family:'Droid Serif';font-style:normal;font-weight:400;src:url(https://fonts.gstatic.com/s/droidserif/v13/tDbI2oqRg1oM3QBjjcaDkOr9rAA.ttf) format('truetype')}@font-face{font-family:'Droid Serif';font-style:normal;font-weight:700;src:url(https://fonts.gstatic.com/s/droidserif/v13/tDbV2oqRg1oM3QBjjcaDkOJGiRD7OwQ.ttf) format('truetype')}@font-face{font-family:'Roboto Slab';font-style:normal;font-weight:100;src:url(https://fonts.gstatic.com/s/robotoslab/v13/BngbUXZYTXPIvIBgJJSb6s3BzlRRfKOFbvjojIWmb2Rm.ttf) format('truetype')}@font-face{font-family:'Roboto Slab';font-style:normal;font-weight:300;src:url(https://fonts.gstatic.com/s/robotoslab/v13/BngbUXZYTXPIvIBgJJSb6s3BzlRRfKOFbvjo0oSmb2Rm.ttf) format('truetype')}@font-face{font-family:'Roboto Slab';font-style:normal;font-weight:400;src:url(https://fonts.gstatic.com/s/robotoslab/v13/BngbUXZYTXPIvIBgJJSb6s3BzlRRfKOFbvjojISmb2Rm.ttf) format('truetype')}@font-face{font-family:'Roboto Slab';font-style:normal;font-weight:700;src:url(https://fonts.gstatic.com/s/robotoslab/v13/BngbUXZYTXPIvIBgJJSb6s3BzlRRfKOFbvjoa4Omb2Rm.ttf) format('truetype')}:root{--blue:#007bff;--indigo:#6610f2;--purple:#6f42c1;--pink:#e83e8c;--red:#dc3545;--orange:#fd7e14;--yellow:#ffc107;--green:#28a745;--teal:#20c997;--cyan:#17a2b8;--white:#fff;--gray:#868e96;--gray-dark:#343a40;--primary:#fed136;--secondary:#868e96;--success:#28a745;--info:#17a2b8;--warning:#ffc107;--danger:#dc3545;--light:#f8f9fa;--dark:#343a40;--breakpoint-xs:0;--breakpoint-sm:576px;--breakpoint-md:768px;--breakpoint-lg:992px;--breakpoint-xl:1200px;--font-family-sans-serif:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";--font-family-monospace:SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace}*,:after,:before{box-sizing:border-box}html{font-family:sans-serif;line-height:1.15;-webkit-text-size-adjust:100%}footer,header,nav,section{display:block}body{margin:0;font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif;font-size:1rem;font-weight:400;line-height:1.5;color:#212529;text-align:left;background-color:#fff}h1,h2,h3,h4{margin-top:0;margin-bottom:0.5rem}p{margin-top:0;margin-bottom:1rem}ul{margin-bottom:1rem}ul{margin-top:0}small{font-size:80%}a{text-decoration:none;background-color:transparent}img{border-style:none}img{vertical-align:middle}button{border-radius:0}button,input,textarea{margin:0;font-family:inherit;font-size:inherit;line-height:inherit}button,input{overflow:visible}button{text-transform:none}[type="button"],[type="submit"],button{-webkit-appearance:button}[type="button"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner,button::-moz-focus-inner{padding:0;border-style:none}textarea{overflow:auto;resize:vertical}::-webkit-file-upload-button{font:inherit;-webkit-appearance:button}h1,h2,h3,h4{margin-bottom:0.5rem;font-weight:500;line-height:1.2}h1{font-size:2.5rem}h2{font-size:2rem}h3{font-size:1.75rem}h4{font-size:1.5rem}.lead{font-size:1.25rem;font-weight:300}small{font-size:80%;font-weight:400}.list-inline{padding-left:0;list-style:none}.list-inline-item{display:inline-block}.list-inline-item:not(:last-child){margin-right:0.5rem}.container{width:100%;padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto}@media (min-width:576px){.container{max-width:540px}}@media (min-width:768px){.container{max-width:720px}}@media (min-width:992px){.container{max-width:960px}}@media (min-width:1200px){.container{max-width:1140px}}.row{display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;margin-right:-15px;margin-left:-15px}.col,.col-lg-12,.col-md-4,.col-md-6,.col-sm-4,.col-sm-6{position:relative;width:100%;padding-right:15px;padding-left:15px}.col{-ms-flex-preferred-size:0;flex-basis:0;-ms-flex-positive:1;flex-grow:1;max-width:100%}@media (min-width:576px){.col-sm-4{-ms-flex:0 0 33.33333%;flex:0 0 33.33333%;max-width:33.33333%}.col-sm-6{-ms-flex:0 0 50%;flex:0 0 50%;max-width:50%}}@media (min-width:768px){.col-md-4{-ms-flex:0 0 33.33333%;flex:0 0 33.33333%;max-width:33.33333%}.col-md-6{-ms-flex:0 0 50%;flex:0 0 50%;max-width:50%}}@media (min-width:992px){.col-lg-12{-ms-flex:0 0 100%;flex:0 0 100%;max-width:100%}}.form-control{display:block;width:100%;height:calc(1.5em + 0.75rem + 2px);padding:0.375rem 0.75rem;font-size:1rem;font-weight:400;line-height:1.5;color:#495057;background-color:#fff;background-clip:padding-box;border:1px solid #ced4da;border-radius:0.25rem}@media (prefers-reduced-motion:reduce){}.form-control::-ms-expand{background-color:transparent;border:0}.form-control:-moz-focusring{color:transparent;text-shadow:0 0 0 #495057}.form-control::-webkit-input-placeholder{color:#868e96;opacity:1}.form-control::-moz-placeholder{color:#868e96;opacity:1}.form-control:-ms-input-placeholder,.form-control::-ms-input-placeholder{color:#868e96;opacity:1}textarea.form-control{height:auto}.form-group{margin-bottom:1rem}.form-text{display:block;margin-top:0.25rem}.form-row{display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;margin-right:-5px;margin-left:-5px}.form-row > .col,.form-row > [class*="col-"]{padding-right:5px;padding-left:5px}.btn{display:inline-block;font-weight:400;color:#212529;text-align:center;vertical-align:middle;background-color:transparent;border:1px solid transparent;padding:0.375rem 0.75rem;font-size:1rem;line-height:1.5;border-radius:0.25rem}@media (prefers-reduced-motion:reduce){}.btn-primary{color:#212529}.collapse:not(.show){display:none}.nav{display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;padding-left:0;margin-bottom:0;list-style:none}.nav-link{display:block;padding:0.5rem 1rem}.navbar{position:relative;padding:0.5rem 1rem}.navbar,.navbar .container{display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;-ms-flex-align:center;align-items:center;-ms-flex-pack:justify;justify-content:space-between}.navbar-brand{display:inline-block;padding-top:0.3125rem;padding-bottom:0.3125rem;margin-right:1rem;font-size:1.25rem;line-height:inherit;white-space:nowrap}.navbar-nav{display:-ms-flexbox;display:flex;-ms-flex-direction:column;flex-direction:column;padding-left:0;margin-bottom:0;list-style:none}.navbar-nav .nav-link{padding-right:0;padding-left:0}.navbar-collapse{-ms-flex-preferred-size:100%;flex-basis:100%;-ms-flex-positive:1;flex-grow:1;-ms-flex-align:center;align-items:center}.navbar-toggler{padding:0.25rem 0.75rem;font-size:1.25rem;line-height:1;background-color:transparent;border:1px solid transparent;border-radius:0.25rem}@media (max-width:991.98px){.navbar-expand-lg > .container{padding-right:0;padding-left:0}}@media (min-width:992px){.navbar-expand-lg{-ms-flex-flow:row nowrap;flex-flow:row nowrap;-ms-flex-pack:start;justify-content:flex-start}.navbar-expand-lg .navbar-nav{-ms-flex-direction:row;flex-direction:row}.navbar-expand-lg .navbar-nav .nav-link{padding-right:0.5rem;padding-left:0.5rem}.navbar-expand-lg > .container{-ms-flex-wrap:nowrap;flex-wrap:nowrap}.navbar-expand-lg .navbar-collapse{display:-ms-flexbox !important;display:flex !important;-ms-flex-preferred-size:auto;flex-basis:auto}.navbar-expand-lg .navbar-toggler{display:none}}.navbar-dark .navbar-brand{color:#fff}.navbar-dark .navbar-nav .nav-link{color:hsla(0,0%,100%,0.5)}.navbar-dark .navbar-toggler{color:hsla(0,0%,100%,0.5);border-color:hsla(0,0%,100%,0.1)}.bg-light{background-color:#f8f9fa !important}.bg-dark{background-color:#61128c !important}.rounded-circle{border-radius:50% !important}.clearfix:after{display:block;clear:both;content:""}.flex-grow-1{-ms-flex-positive:1 !important;flex-grow:1 !important}.fixed-top{top:0}.fixed-top{position:fixed;right:0;left:0;z-index:1030}.mx-auto{margin-right:auto !important}.ml-auto,.mx-auto{margin-left:auto !important}.text-center{text-align:center !important}.text-uppercase{text-transform:uppercase !important}.text-danger{color:#dc3545 !important}.text-muted{color:#868e96 !important}#mainNav{background-color:#212529}#mainNav .navbar-toggler{font-size:12px;right:0;padding:13px;text-transform:uppercase;color:#fff;border:0;background-color:#fed136;font-family:Montserrat,Helvetica Neue,Helvetica,Arial,sans-serif}#mainNav .navbar-brand{color:#fed136;font-family:Kaushan Script,Helvetica Neue,Helvetica,Arial,cursive}#mainNav .navbar-nav .nav-item .nav-link{font-size:90%;font-weight:400;padding:0.75em 0;letter-spacing:1px;color:#fff;font-family:Montserrat,Helvetica Neue,Helvetica,Arial,sans-serif}@media (min-width:992px){#mainNav{padding-top:25px;padding-bottom:25px;border:none;background-color:transparent}#mainNav .navbar-brand{font-size:1.75em}#mainNav .navbar-nav .nav-item .nav-link{padding:1.1em 1em !important}}header.masthead{text-align:center;color:#fff;background-repeat:no-repeat;background-attachment:scroll;background-position:50%;background-size:cover}header.masthead .intro-text{padding-top:150px;padding-bottom:100px}header.masthead .intro-text .intro-lead-in{font-size:22px;font-style:italic;line-height:22px;margin-bottom:25px;font-family:Droid Serif,Helvetica Neue,Helvetica,Arial,sans-serif}header.masthead .intro-text .intro-heading{font-size:50px;font-weight:700;line-height:50px;margin-bottom:25px;font-family:Montserrat,Helvetica Neue,Helvetica,Arial,sans-serif}@media (min-width:768px){header.masthead .intro-text{padding-top:300px;padding-bottom:200px}header.masthead .intro-text .intro-lead-in{font-size:40px;font-style:italic;line-height:40px;margin-bottom:25px;font-family:Droid Serif,Helvetica Neue,Helvetica,Arial,sans-serif}header.masthead .intro-text .intro-heading{font-size:75px;font-weight:700;line-height:75px;margin-bottom:50px;font-family:Montserrat,Helvetica Neue,Helvetica,Arial,sans-serif}}.team-member{margin-bottom:50px;text-align:center}.team-member img{width:225px;height:225px;border:7px solid #fff}.team-member h4{margin-top:25px;margin-bottom:0;text-transform:none}.team-member p{margin-top:0}section#contact{background-color:#212529;background-repeat:no-repeat;background-position:50%}section#contact .section-heading{color:#fff}section#contact .form-group{margin-bottom:25px}section#contact .form-group input,section#contact .form-group textarea{padding:20px}section#contact .form-group input.form-control{height:auto}section#contact .form-group textarea.form-control{height:248px}section#contact::-webkit-input-placeholder{font-weight:700;color:#ced4da;font-family:Montserrat,Helvetica Neue,Helvetica,Arial,sans-serif}section#contact:-moz-placeholder,section#contact::-moz-placeholder{font-weight:700;color:#ced4da;font-family:Montserrat,Helvetica Neue,Helvetica,Arial,sans-serif}section#contact:-ms-input-placeholder{font-weight:700;color:#ced4da;font-family:Montserrat,Helvetica Neue,Helvetica,Arial,sans-serif}#contact .col-md-6{padding:0 15px}footer{padding:25px 0;text-align:center}footer span.copyright,footer ul.quicklinks{font-size:90%;line-height:40px;text-transform:none;font-family:Montserrat,Helvetica Neue,Helvetica,Arial,sans-serif}footer ul.quicklinks,ul.social-buttons{margin-bottom:0}ul.social-buttons li a{font-size:20px;line-height:40px;display:block;width:40px;height:40px;color:#fff;border-radius:100%;outline:none;background-color:#212529}body{overflow-x:hidden;font-family:Roboto Slab,Helvetica Neue,Helvetica,Arial,sans-serif}p{line-height:1.75}a{color:#fed136}.text-primary{color:#fed136 !important}h1,h2,h3,h4{font-weight:700;font-family:Montserrat,Helvetica Neue,Helvetica,Arial,sans-serif}section{padding:100px 0}section h2.section-heading{font-size:40px;margin-top:0;margin-bottom:15px}section h3.section-subheading{font-size:16px;font-weight:400;font-style:italic;margin-bottom:75px;text-transform:none;font-family:Droid Serif,Helvetica Neue,Helvetica,Arial,sans-serif}@media (min-width:768px){section{padding:150px 0}}.btn{font-family:Montserrat,Helvetica Neue,Helvetica,Arial,sans-serif;font-weight:700}.btn-xl{font-size:18px;padding:20px 40px}.btn-primary{color:#fff;background-color:#61128c;border-color:#61128c}.brand-logo h1{text-transform:capitalize !important;position:absolute;left:-150%;right:-150%;font-family:Kaushan Script,Helvetica Neue,Helvetica,Arial,cursive !important;color:#fff}.book{--color:#fff;--duration:6.8s;width:32px;height:12px;position:relative;margin:32px 0 0 0;zoom:1.5}.book .inner{width:32px;height:12px;position:relative;transform-origin:2px 2px;transform:rotateZ(-90deg);-webkit-animation:book var(--duration) ease infinite;animation:book var(--duration) ease infinite}.book .inner .left,.book .inner .right{width:60px;height:4px;top:0;border-radius:2px;background:var(--color);position:absolute}.book .inner .left:before,.book .inner .right:before{content:"";width:48px;height:4px;border-radius:2px;background:inherit;position:absolute;top:-10px;left:6px}.book .inner .left{right:28px;transform-origin:58px 2px;transform:rotateZ(90deg);-webkit-animation:left var(--duration) ease infinite;animation:left var(--duration) ease infinite}.book .inner .right{left:28px;transform-origin:2px 2px;transform:rotateZ(-90deg);-webkit-animation:right var(--duration) ease infinite;animation:right var(--duration) ease infinite}.book .inner .middle{width:32px;height:12px;border:4px solid var(--color);border-top:0;border-radius:0 0 9px 9px;transform:translateY(2px)}.book ul{margin:0;padding:0;list-style:none;position:absolute;left:50%;top:0}.book ul li{height:4px;border-radius:2px;transform-origin:100% 2px;width:48px;right:0;top:-10px;position:absolute;background:var(--color);transform:rotateZ(0deg) translateX(-18px);-webkit-animation-duration:var(--duration);animation-duration:var(--duration);-webkit-animation-timing-function:ease;animation-timing-function:ease;-webkit-animation-iteration-count:infinite;animation-iteration-count:infinite}.book ul li:nth-child(1){-webkit-animation-name:page-1;animation-name:page-1}.book ul li:nth-child(2){-webkit-animation-name:page-2;animation-name:page-2}.book ul li:nth-child(3){-webkit-animation-name:page-3;animation-name:page-3}.book ul li:nth-child(4){-webkit-animation-name:page-4;animation-name:page-4}.book ul li:nth-child(5){-webkit-animation-name:page-5;animation-name:page-5}.book ul li:nth-child(6){-webkit-animation-name:page-6;animation-name:page-6}.book ul li:nth-child(7){-webkit-animation-name:page-7;animation-name:page-7}.book ul li:nth-child(8){-webkit-animation-name:page-8;animation-name:page-8}.book ul li:nth-child(9){-webkit-animation-name:page-9;animation-name:page-9}.book ul li:nth-child(10){-webkit-animation-name:page-10;animation-name:page-10}.book ul li:nth-child(11){-webkit-animation-name:page-11;animation-name:page-11}.book ul li:nth-child(12){-webkit-animation-name:page-12;animation-name:page-12}.book ul li:nth-child(13){-webkit-animation-name:page-13;animation-name:page-13}.book ul li:nth-child(14){-webkit-animation-name:page-14;animation-name:page-14}.book ul li:nth-child(15){-webkit-animation-name:page-15;animation-name:page-15}.book ul li:nth-child(16){-webkit-animation-name:page-16;animation-name:page-16}.book ul li:nth-child(17){-webkit-animation-name:page-17;animation-name:page-17}.book ul li:nth-child(18){-webkit-animation-name:page-18;animation-name:page-18}@-webkit-keyframes page-1{5.86%{transform:rotateZ(0deg) translateX(-18px)}14.74%,55.86%{transform:rotateZ(180deg) translateX(-18px)}64.74%{transform:rotateZ(0deg) translateX(-18px)}}@keyframes page-1{5.86%{transform:rotateZ(0deg) translateX(-18px)}14.74%,55.86%{transform:rotateZ(180deg) translateX(-18px)}64.74%{transform:rotateZ(0deg) translateX(-18px)}}@-webkit-keyframes page-2{7.72%{transform:rotateZ(0deg) translateX(-18px)}16.48%,57.72%{transform:rotateZ(180deg) translateX(-18px)}66.48%{transform:rotateZ(0deg) translateX(-18px)}}@keyframes page-2{7.72%{transform:rotateZ(0deg) translateX(-18px)}16.48%,57.72%{transform:rotateZ(180deg) translateX(-18px)}66.48%{transform:rotateZ(0deg) translateX(-18px)}}@-webkit-keyframes page-3{9.58%{transform:rotateZ(0deg) translateX(-18px)}18.22%,59.58%{transform:rotateZ(180deg) translateX(-18px)}68.22%{transform:rotateZ(0deg) translateX(-18px)}}@keyframes page-3{9.58%{transform:rotateZ(0deg) translateX(-18px)}18.22%,59.58%{transform:rotateZ(180deg) translateX(-18px)}68.22%{transform:rotateZ(0deg) translateX(-18px)}}@-webkit-keyframes page-4{11.44%{transform:rotateZ(0deg) translateX(-18px)}19.96%,61.44%{transform:rotateZ(180deg) translateX(-18px)}69.96%{transform:rotateZ(0deg) translateX(-18px)}}@keyframes page-4{11.44%{transform:rotateZ(0deg) translateX(-18px)}19.96%,61.44%{transform:rotateZ(180deg) translateX(-18px)}69.96%{transform:rotateZ(0deg) translateX(-18px)}}@-webkit-keyframes page-5{13.3%{transform:rotateZ(0deg) translateX(-18px)}21.7%,63.3%{transform:rotateZ(180deg) translateX(-18px)}71.7%{transform:rotateZ(0deg) translateX(-18px)}}@keyframes page-5{13.3%{transform:rotateZ(0deg) translateX(-18px)}21.7%,63.3%{transform:rotateZ(180deg) translateX(-18px)}71.7%{transform:rotateZ(0deg) translateX(-18px)}}@-webkit-keyframes page-6{15.16%{transform:rotateZ(0deg) translateX(-18px)}23.44%,65.16%{transform:rotateZ(180deg) translateX(-18px)}73.44%{transform:rotateZ(0deg) translateX(-18px)}}@keyframes page-6{15.16%{transform:rotateZ(0deg) translateX(-18px)}23.44%,65.16%{transform:rotateZ(180deg) translateX(-18px)}73.44%{transform:rotateZ(0deg) translateX(-18px)}}@-webkit-keyframes page-7{17.02%{transform:rotateZ(0deg) translateX(-18px)}25.18%,67.02%{transform:rotateZ(180deg) translateX(-18px)}75.18%{transform:rotateZ(0deg) translateX(-18px)}}@keyframes page-7{17.02%{transform:rotateZ(0deg) translateX(-18px)}25.18%,67.02%{transform:rotateZ(180deg) translateX(-18px)}75.18%{transform:rotateZ(0deg) translateX(-18px)}}@-webkit-keyframes page-8{18.88%{transform:rotateZ(0deg) translateX(-18px)}26.92%,68.88%{transform:rotateZ(180deg) translateX(-18px)}76.92%{transform:rotateZ(0deg) translateX(-18px)}}@keyframes page-8{18.88%{transform:rotateZ(0deg) translateX(-18px)}26.92%,68.88%{transform:rotateZ(180deg) translateX(-18px)}76.92%{transform:rotateZ(0deg) translateX(-18px)}}@-webkit-keyframes page-9{20.74%{transform:rotateZ(0deg) translateX(-18px)}28.66%,70.74%{transform:rotateZ(180deg) translateX(-18px)}78.66%{transform:rotateZ(0deg) translateX(-18px)}}@keyframes page-9{20.74%{transform:rotateZ(0deg) translateX(-18px)}28.66%,70.74%{transform:rotateZ(180deg) translateX(-18px)}78.66%{transform:rotateZ(0deg) translateX(-18px)}}@-webkit-keyframes page-10{22.6%{transform:rotateZ(0deg) translateX(-18px)}30.4%,72.6%{transform:rotateZ(180deg) translateX(-18px)}80.4%{transform:rotateZ(0deg) translateX(-18px)}}@keyframes page-10{22.6%{transform:rotateZ(0deg) translateX(-18px)}30.4%,72.6%{transform:rotateZ(180deg) translateX(-18px)}80.4%{transform:rotateZ(0deg) translateX(-18px)}}@-webkit-keyframes page-11{24.46%{transform:rotateZ(0deg) translateX(-18px)}32.14%,74.46%{transform:rotateZ(180deg) translateX(-18px)}82.14%{transform:rotateZ(0deg) translateX(-18px)}}@keyframes page-11{24.46%{transform:rotateZ(0deg) translateX(-18px)}32.14%,74.46%{transform:rotateZ(180deg) translateX(-18px)}82.14%{transform:rotateZ(0deg) translateX(-18px)}}@-webkit-keyframes page-12{26.32%{transform:rotateZ(0deg) translateX(-18px)}33.88%,76.32%{transform:rotateZ(180deg) translateX(-18px)}83.88%{transform:rotateZ(0deg) translateX(-18px)}}@keyframes page-12{26.32%{transform:rotateZ(0deg) translateX(-18px)}33.88%,76.32%{transform:rotateZ(180deg) translateX(-18px)}83.88%{transform:rotateZ(0deg) translateX(-18px)}}@-webkit-keyframes page-13{28.18%{transform:rotateZ(0deg) translateX(-18px)}35.62%,78.18%{transform:rotateZ(180deg) translateX(-18px)}85.62%{transform:rotateZ(0deg) translateX(-18px)}}@keyframes page-13{28.18%{transform:rotateZ(0deg) translateX(-18px)}35.62%,78.18%{transform:rotateZ(180deg) translateX(-18px)}85.62%{transform:rotateZ(0deg) translateX(-18px)}}@-webkit-keyframes page-14{30.04%{transform:rotateZ(0deg) translateX(-18px)}37.36%,80.04%{transform:rotateZ(180deg) translateX(-18px)}87.36%{transform:rotateZ(0deg) translateX(-18px)}}@keyframes page-14{30.04%{transform:rotateZ(0deg) translateX(-18px)}37.36%,80.04%{transform:rotateZ(180deg) translateX(-18px)}87.36%{transform:rotateZ(0deg) translateX(-18px)}}@-webkit-keyframes page-15{31.9%{transform:rotateZ(0deg) translateX(-18px)}39.1%,81.9%{transform:rotateZ(180deg) translateX(-18px)}89.1%{transform:rotateZ(0deg) translateX(-18px)}}@keyframes page-15{31.9%{transform:rotateZ(0deg) translateX(-18px)}39.1%,81.9%{transform:rotateZ(180deg) translateX(-18px)}89.1%{transform:rotateZ(0deg) translateX(-18px)}}@-webkit-keyframes page-16{33.76%{transform:rotateZ(0deg) translateX(-18px)}40.84%,83.76%{transform:rotateZ(180deg) translateX(-18px)}90.84%{transform:rotateZ(0deg) translateX(-18px)}}@keyframes page-16{33.76%{transform:rotateZ(0deg) translateX(-18px)}40.84%,83.76%{transform:rotateZ(180deg) translateX(-18px)}90.84%{transform:rotateZ(0deg) translateX(-18px)}}@-webkit-keyframes page-17{35.62%{transform:rotateZ(0deg) translateX(-18px)}42.58%,85.62%{transform:rotateZ(180deg) translateX(-18px)}92.58%{transform:rotateZ(0deg) translateX(-18px)}}@keyframes page-17{35.62%{transform:rotateZ(0deg) translateX(-18px)}42.58%,85.62%{transform:rotateZ(180deg) translateX(-18px)}92.58%{transform:rotateZ(0deg) translateX(-18px)}}@-webkit-keyframes page-18{37.48%{transform:rotateZ(0deg) translateX(-18px)}44.32%,87.48%{transform:rotateZ(180deg) translateX(-18px)}94.32%{transform:rotateZ(0deg) translateX(-18px)}}@keyframes page-18{37.48%{transform:rotateZ(0deg) translateX(-18px)}44.32%,87.48%{transform:rotateZ(180deg) translateX(-18px)}94.32%{transform:rotateZ(0deg) translateX(-18px)}}@-webkit-keyframes left{4%{transform:rotateZ(90deg)}10%,40%{transform:rotateZ(0deg)}46%,54%{transform:rotateZ(90deg)}60%,90%{transform:rotateZ(0deg)}96%{transform:rotateZ(90deg)}}@keyframes left{4%{transform:rotateZ(90deg)}10%,40%{transform:rotateZ(0deg)}46%,54%{transform:rotateZ(90deg)}60%,90%{transform:rotateZ(0deg)}96%{transform:rotateZ(90deg)}}@-webkit-keyframes right{4%{transform:rotateZ(-90deg)}10%,40%{transform:rotateZ(0deg)}46%,54%{transform:rotateZ(-90deg)}60%,90%{transform:rotateZ(0deg)}96%{transform:rotateZ(-90deg)}}@keyframes right{4%{transform:rotateZ(-90deg)}10%,40%{transform:rotateZ(0deg)}46%,54%{transform:rotateZ(-90deg)}60%,90%{transform:rotateZ(0deg)}96%{transform:rotateZ(-90deg)}}@-webkit-keyframes book{4%{transform:rotateZ(-90deg)}10%,40%{transform:rotateZ(0deg);transform-origin:2px 2px}40.01%,59.99%{transform-origin:30px 2px}46%,54%{transform:rotateZ(90deg)}60%,90%{transform:rotateZ(0deg);transform-origin:2px 2px}96%{transform:rotateZ(-90deg)}}@keyframes book{4%{transform:rotateZ(-90deg)}10%,40%{transform:rotateZ(0deg);transform-origin:2px 2px}40.01%,59.99%{transform-origin:30px 2px}46%,54%{transform:rotateZ(90deg)}60%,90%{transform:rotateZ(0deg);transform-origin:2px 2px}96%{transform:rotateZ(-90deg)}}html{box-sizing:border-box;-webkit-font-smoothing:antialiased}.preload{box-sizing:inherit}.preload:before,.preload:after{box-sizing:inherit}.preload{min-height:100vh;display:flex;justify-content:center;align-items:center;background:#61128c}@font-face{font-family:'Montserrat';font-style:normal;font-weight:400;src:url(https://fonts.gstatic.com/s/montserrat/v15/JTUSjIg1_i6t8kCHKm459Wlhzg.ttf) format('truetype')}@font-face{font-family:'Montserrat';font-style:normal;font-weight:700;src:url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_dJE3gnD-w.ttf) format('truetype')}@font-face{font-family:'Kaushan Script';font-style:normal;font-weight:400;src:url(https://fonts.gstatic.com/s/kaushanscript/v9/vm8vdRfvXFLG3OLnsO15WYS5DG74wNc.ttf) format('truetype')}@font-face{font-family:'Droid Serif';font-style:italic;font-weight:400;src:url(https://fonts.gstatic.com/s/droidserif/v13/tDbK2oqRg1oM3QBjjcaDkOr4nAfcGw.ttf) format('truetype')}@font-face{font-family:'Droid Serif';font-style:italic;font-weight:700;src:url(https://fonts.gstatic.com/s/droidserif/v13/tDbX2oqRg1oM3QBjjcaDkOr4lLz5CwOnTQ.ttf) format('truetype')}@font-face{font-family:'Droid Serif';font-style:normal;font-weight:400;src:url(https://fonts.gstatic.com/s/droidserif/v13/tDbI2oqRg1oM3QBjjcaDkOr9rAA.ttf) format('truetype')}@font-face{font-family:'Droid Serif';font-style:normal;font-weight:700;src:url(https://fonts.gstatic.com/s/droidserif/v13/tDbV2oqRg1oM3QBjjcaDkOJGiRD7OwQ.ttf) format('truetype')}@font-face{font-family:'Roboto Slab';font-style:normal;font-weight:100;src:url(https://fonts.gstatic.com/s/robotoslab/v13/BngbUXZYTXPIvIBgJJSb6s3BzlRRfKOFbvjojIWmb2Rm.ttf) format('truetype')}@font-face{font-family:'Roboto Slab';font-style:normal;font-weight:300;src:url(https://fonts.gstatic.com/s/robotoslab/v13/BngbUXZYTXPIvIBgJJSb6s3BzlRRfKOFbvjo0oSmb2Rm.ttf) format('truetype')}@font-face{font-family:'Roboto Slab';font-style:normal;font-weight:400;src:url(https://fonts.gstatic.com/s/robotoslab/v13/BngbUXZYTXPIvIBgJJSb6s3BzlRRfKOFbvjojISmb2Rm.ttf) format('truetype')}@font-face{font-family:'Roboto Slab';font-style:normal;font-weight:700;src:url(https://fonts.gstatic.com/s/robotoslab/v13/BngbUXZYTXPIvIBgJJSb6s3BzlRRfKOFbvjoa4Omb2Rm.ttf) format('truetype')}
    </style>

    <link rel="preload" as="style" onload="this.onload=null;this.rel='stylesheet'" href="/css/homepage.min.css">
    <link rel="preload" as="style" onload="this.onload=null;this.rel='stylesheet'" href="/css/form-preload.css">
    <link rel="preload" as="font" href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap">
    <link rel="preload" as="font" href="https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap">
    <link rel="preload" as="font" href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic&display=swap">
    <link rel="preload" as="font" href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700&display=swap">
</head>

<body id="page-top">
    <%- include("./preloaders/form-preloader.ejs") %> 
    <div class="homepage" style="display: none;">
        <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-dark" id="mainNav">
            <div class="container"><a class="navbar-brand" href="#page-top">Schudle</a><button data-toggle="collapse"
                    data-target="#navbarResponsive" class="navbar-toggler navbar-toggler-right" type="button"
                    data-toogle="collapse" aria-controls="navbarResponsive" aria-expanded="false"
                    aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="nav navbar-nav ml-auto text-uppercase">
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#services">Services</a></li>
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#team">Team</a></li>
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <header class="masthead" style="background: url(&quot;/images/bgimage1.jpg&quot;);">
            <div class="container">
                <div class="intro-text">
                    <div class="intro-lead-in"><span>Welcome To Our Digital School!</span></div>
                    <div class="intro-heading text-uppercase"><span>It's TIME TO DIGITALIZE</span></div>
                    <a class="btn btn-primary btn-xl js-scroll-trigger" role="button" href="/register">Join Us</a>
                </div>
            </div>
        </header>


        <section id="services">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="text-uppercase section-heading">Features</h2>
                        <h3 class="text-muted section-subheading">Features provided by Schudle.</h3>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-md-4"><span class="fa-stack fa-4x"><i
                                class="fa fa-circle fa-stack-2x text-primary"></i><i
                                class="fas fa-school fa-stack-1x fa-inverse"></i></span>
                        <h4 class="section-heading">Digital School</h4>
                        <p class="text-muted"><br>Schudle provides you end-to-end e-learning platform for K-12 schools and
                            higher education.<br></p>
                    </div>
                    <div class="col-md-4"><span class="fa-stack fa-4x"><i
                                class="fa fa-circle fa-stack-2x text-primary"></i><i
                                class="fa fa-thumbs-up fa-stack-1x fa-inverse"></i></span>
                        <h4 class="section-heading">Easy-To-Use</h4>
                        <p class="text-muted"><br>Manage your institution easily with our user-friendly interface.<br><br>
                        </p>
                    </div>
                    <div class="col-md-4"><span class="fa-stack fa-4x"><i
                                class="fa fa-circle fa-stack-2x text-primary"></i><i
                                class="fa fa-lock fa-stack-1x fa-inverse"></i></span>
                        <h4 class="section-heading">Web Security</h4>
                        <p class="text-muted"><br>Schudle is your end-to-end learning platform for K-12 schools, higher
                            education.<br><br> </p>
                    </div>
                </div>
            </div>
        </section>


        <section id="team" class="bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="team-member"><img class="rounded-circle mx-auto" loading="lazy" src="/images/team/shrushti.jpg">
                            <h4>Shrushti Vasaniya</h4>
                            <p class="text-muted">Developer</p>
                            <ul class="list-inline social-buttons">
                                <li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li class="list-inline-item"><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li class="list-inline-item"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="team-member"><img class="rounded-circle mx-auto" loading="lazy" src="/images/team/rutvij.jpg">
                            <h4>Rutvij Vamja</h4>
                            <p class="text-muted">Developer</p>
                            <ul class="list-inline social-buttons">
                                <li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li class="list-inline-item"><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li class="list-inline-item"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="team-member"><img class="rounded-circle mx-auto" loading="lazy" src="/images/team/vrutik.jpg">
                            <h4>Vrutik Rabadia</h4>
                            <p class="text-muted">Developer</p>
                            <ul class="list-inline social-buttons">
                                <li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li class="list-inline-item"><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li class="list-inline-item"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="team-member"><img class="rounded-circle mx-auto" loading="lazy" src="/images/team/yash.jpg">
                            <h4>Yash Vadi</h4>
                            <p class="text-muted">Developer</p>
                            <ul class="list-inline social-buttons">
                                <li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li class="list-inline-item"><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li class="list-inline-item"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="team-member"><img class="rounded-circle mx-auto" src="/images/team/anash.jpg">
                            <h4>Anash Shelat</h4>
                            <p class="text-muted">Developer</p>
                            <ul class="list-inline social-buttons">
                                <li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li class="list-inline-item"><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li class="list-inline-item"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <section id="contact" style="background-image:url('/images/map-image.png');">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="text-uppercase section-heading">Contact Us</h2>
                        <h3 class="section-subheading text-muted"></h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <form id="contactForm" method="POST" name="contactForm">
                            <div class="form-row">
                                <div class="col col-md-6">
                                    <div class="form-group"><input class="form-control" type="text" id="name" name="name"
                                            placeholder="Your Name *" required><small
                                            class="form-text text-danger flex-grow-1 help-block lead"></small></div>
                                    <div class="form-group"><input class="form-control" type="email" id="email" name="email"
                                            placeholder="Your Email *" required><small
                                            class="form-text text-danger help-block lead"></small></div>
                                    <div class="form-group"><input class="form-control" type="tel" name="number"
                                            placeholder="Your Phone *" required><small
                                            class="form-text text-danger help-block lead"></small></div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group"><textarea name="message" class="form-control" id="message"
                                            placeholder="Your Message *" required></textarea><small
                                            class="form-text text-danger help-block lead"></small></div>
                                </div>
                                <div class="col">
                                    <div class="clearfix"></div>
                                </div>
                                <div class="col-lg-12 text-center">
                                    <div id="success"></div><button name="button" value="review"
                                        class="btn btn-primary btn-xl text-uppercase" id="sendMessageButton"
                                        type="submit">Send Message</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>



        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-4"><span class="copyright">Copyright&nbsp;© Schudle 2021</span></div>
                    <div class="col-md-4">
                        <ul class="list-inline social-buttons">
                            <li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <ul class="list-inline quicklinks">
                            <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
                            <li class="list-inline-item"><a href="#">Terms of Use</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/js/bootstrap.bundle.min.js"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script defer src="/javascript/homepage.min.js"></script>
    <script async src="https://kit.fontawesome.com/eb9e477f45.js" crossorigin="anonymous"></script>
    
    <script>
        $(window).on("load",function(){
         setTimeout(function(){
           $(".preload").fadeOut(function(){
             $(".homepage").fadeIn(function(){
               $(".preload").hide(1000);
               $(".homepage").show();
             });
           });
         },1000);
        });
      </script>
</body>

</html>